.lawyers {
  background: var(--secondary-bg);
  padding: 80px 0;
}

&__block {
  width: 50px;
  height: 3px;
  background: #4f8ff0;
}

&__title {
  text-align: center;
}

&__subtitle {
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  max-width: 920px;
}
